
header {
  display: flex;
  justify-content: space-between;
  font-size: 140%;
  margin-bottom: 50px;
}

.main {
  margin: auto;
  text-align: center;
  font-size: 200%;
}

button {
  height: 50px;
  width: 125px;
  font-size: 75%;
}

ol{
  height: 20px;
  width: 35px;
  display: block;
  padding: 15%;
}

.btn {
  
  height: 40px;
  width: 50%;
  margin: 10px;
  
}


