
header {
  display: flex;
  justify-content: space-between;
  font-size: 140%;
  margin-bottom: 50px;
}

.main {
  margin: auto;
  text-align: center;
  font-size: 200%;
}

button {
  height: 50px;
  width: 125px;
  font-size: 75%;
}

ol{
  display: block;
  justify-self: center;
  padding: 15%;
}

li{
  margin: 20px;
  padding: 5px;
}


